<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

	<!-- 관리자 로그인 -->
	<select id="adlogin" parameterType="AdminDTO" resultType="AdminDTO">
		SELECT * FROM UB_ADMIN
		WHERE admin_id = #{adminId} and admin_pw = #{adminPw}
	</select>
	
	<!-- 메인페이지  -->
	<select id="membertotal" resultType="int">
		SELECT 
	</select>
	
	<select id="mentortotal" resultType="int">
		SELECT count(*) FROM UB_MEMBER WHERE MEMBER_TYPE = 'MENTOR'
	</select>
	
	<select id="menteetotal" resultType="int">
		SELECT count(*) FROM UB_MEMBER WHERE MEMBER_TYPE = 'MENTEE'
	</select>
	
	<select id="matchingtotal" resultType="int">
		SELECT count(*) FROM UB_MATCHING
	</select>
	
	
	<select id="recentboard" resultType="AdMainDTO">
	<![CDATA[
		SELECT * 
		FROM (
		SELECT  umb.board_title, umb.board_date
		FROM UB_MENTEE_BOARD umb
		UNION ALL 
		SELECT  umb.board_title, umb.board_date
		FROM UB_MENTOR_BOARD umb
		ORDER BY board_date)
		WHERE ROWNUM <= 5
	]]>
	</select>
	
	<select id="recentMember" resultType="AdMainDTO">
	<![CDATA[
		SELECT * 
		FROM (
		SELECT MEMBER_NAME, MEMBER_type, member_date 
		FROM UB_MEMBER
		ORDER BY member_date)
		WHERE ROWNUM <= 5
	]]>
	</select>
	
	<!-- 멘티 게시판 -->
	<select id="getTotal" resultType = "int">
		select count(*) from UB_MENTEE_BOARD
	</select>
	
	<select id="selectAll" resultType = "AdMenteeBoardListDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
				FROM (
					SELECT umb.menteeboard_number, board_title, board_click, board_date, 
						CASE
							WHEN umb.admin_number IS NOT NULL THEN ua.admin_Nickname
							WHEN umb.MEMBER_number IS NOT NULL THEN um.MEMBER_nickname
						END AS "write_nickname"
					FROM UB_MENTEE_BOARD umb
					LEFT JOIN UB_MEMBER um ON um.MEMBER_NUMBER = umb.MEMBER_NUMBER 
					LEFT JOIN UB_ADMIN UA ON umb.admin_number = ua.admin_number
				) subquery
			)WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
	<select id="selectFilter" resultType="AdMenteeBoardListDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
				FROM (
					SELECT umb.menteeboard_number, board_title, board_click, board_date, 
						CASE
							WHEN umb.admin_number IS NOT NULL THEN ua.admin_Nickname
							WHEN umb.MEMBER_number IS NOT NULL THEN um.MEMBER_nickname
						END AS "write_nickname"
					FROM UB_MENTEE_BOARD umb
					LEFT JOIN UB_MEMBER um ON um.MEMBER_NUMBER = umb.MEMBER_NUMBER 
					LEFT JOIN UB_ADMIN UA ON umb.admin_number = ua.admin_number
					WHERE board_date BETWEEN TO_DATE(#{dateFrom}, 'YYYY-MM-DD')
					AND TO_DATE(#{dateTo}, 'YYYY-MM-DD')
					ORDER BY umb.MENTEEBOARD_NUMBER desc
				) subquery
			)WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
</mapper>
