<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">

    <select id="getContestList" resultType="com.unibridge.app.main.dto.MainDTO$ContestDTO">
        SELECT *
        FROM (
            SELECT
                c.contest_number,
                title,
                detail,
                start_date AS startDate,
                end_date AS endDate,
                host_company AS hostCompany,
                tech_stack AS techStack,
                status
            FROM UB_CONTEST c
            join UB_NOTICEBOARD n ON c.contest_number = n.contest_number
            WHERE status = '진행중'
            ORDER BY end_date ASC
        )
        <![CDATA[
        WHERE ROWNUM <= 10
        ]]>
    </select>

    <select id="getMentorCardList" resultType="com.unibridge.app.main.dto.MainDTO$MentorCardDTO">
    SELECT *
    FROM (
        SELECT
            m.MENTORING_NUMBER      AS mentoringNumber, 
            m.MENTOR_NUMBER    AS mentorNumber,
            m.MENTORING_TITLE  AS mentoringTitle,
            m.MENTORING_GOAL   AS mentoringGoal,
            s.subject_name     AS subjectName,
            mb.member_nickname AS memberNickname,
            mb.member_gender    AS memberGender,
            f.file_name         AS fileName,
            sm.grad_school      AS gradSchool,
            sm.grad_depart      AS gradDepart
            FROM UB_MENTORING m
        JOIN UB_MEMBER  mb ON m.MENTOR_NUMBER  = mb.member_number
        LEFT JOIN UB_SUBJECT s ON m.SUBJECT_NUMBER = s.subject_number
        LEFT JOIN UB_FILE f ON mb.file_number = f.file_number
        LEFT JOIN UB_SURVEY_MENTOR sm ON mb.survey_number = sm.survey_number
        WHERE mb.member_state = '계정 활성화'
        ORDER BY m.CREATED_AT DESC
    )
    <![CDATA[
    WHERE ROWNUM <= 7
    ]]>
</select>

<select id="getCompanyList" resultType="com.unibridge.app.main.dto.MainDTO$CompanyDTO">
    SELECT
        employment_id        AS employmentId,
        company_name         AS companyName,
        employment_title     AS employmentTitle,
        employment_location  AS employmentLocation,
        employment_career    AS employmentCareer,
        employment_education AS employmentEducation,
        employment_log       AS employmentLog,
        employment_url       AS employmentUrl
    FROM UB_COMPANY
    ORDER BY employment_id DESC
</select>

</mapper>