<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mentoring">
	<insert id="insert" parameterType="MentoringDTO">
		INSERT INTO TBL_MENTORING 
		(INTERNAL_ID, MENTOR_NUMBER, SUBJECT_NUMBER, MENTORING_TITLE, MENTORING_GOAL, MENTORING_DETAIL, FILE_NUMBER, CREATE_AT, UPDATE_AT)
		VALUES 
		(SEQ_MENTORING.NEXTVAL, #{mentorNumber}, #{subjectNumber}, #{mentoringTitle}, #{mentoringGoal}, #{mentoringDetail}, #{fileNumber}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>

	<select id="select" parameterType="int" resultType="MentoringDTO">
		SELECT 
			INTERNAL_ID as interanlId, 
			MENTOR_NUMBER as mentorNumber, 
			SUBJECT_NUMBER as subjectNumber, 
			MENTORING_TITLE as mentoringTitle, 
			MENTORING_GOAL as mentoringGoal, 
			MENTORING_DETAIL as mentoringDetail, 
			FILE_NUMBER as fileNumber, 
			CREATE_AT as createAt, 
			UPDATE_AT as updateAt
		FROM TBL_MENTORING
		WHERE INTERNAL_ID = #{interanlId}
	</select>

	<update id="update" parameterType="MentoringDTO">
		UPDATE TBL_MENTORING
		SET 
			SUBJECT_NUMBER = #{subjectNumber},
			MENTORING_TITLE = #{mentoringTitle},
			MENTORING_GOAL = #{mentoringGoal},
			MENTORING_DETAIL = #{mentoringDetail},
			FILE_NUMBER = #{fileNumber},
			UPDATE_AT = CURRENT_TIMESTAMP
		WHERE INTERNAL_ID = #{interanlId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM TBL_MENTORING
		WHERE INTERNAL_ID = #{interanlId}
	</delete>

</mapper>